{#
/**
 * @file
 * Partial file for mobile search form container markup + js as well as
 * common css for both header and mobile nav search forms.
 */
#}
{%
  set classes = [
    'ma__header__nav-search',
    'js-header-search-menu',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <section class='ma__header-search'>
    {% block content %}
      {# mobile nav google custom search form container, id selector used in API .draw() method at last line of api embed js below #}
      <div id="cse-search-form-mobile" style="width: 100%;">Loading</div>
    {% endblock %}
  </section>
</div><!-- .ma__header__search -->
