{#
/**
 * @file
 * Theme override for the search form block -- for search results page only.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values, including:
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: A list HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template. Includes:
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-search',
    'container-inline',
    'ma__content__search',
    'js-header-search-menu',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <section class='ma__content-search'>
    {% block content %}
      <!-- search form container -->
      {# JS lives in search results page template: layout/page--node--6 #}
      <div id="cse-search-form" style="width: 100%;">Loading</div>
      <!-- removed mobile-only faux search button because maybe search results page should have search form even for mobile -->

      <!-- /* google custom search styles, overriding minimal theme.
              styles need to live in this template for this search form because they are unique to this instance */ -->
      <style type="text/css">
        <!--/*--><![CDATA[/* ><!--*/
        /* custom orverride */
        .cse form.gsc-search-box, form.gsc-search-box,
        .gsc-search-box {
          margin: 0;
          padding: 0;
        }
        @media (max-width: 620px) {
          .cse form.gsc-search-box,
          .ma__content__container form.gsc-search-box,
          .ma__content__container .gsc-search-box {
            display: none;
          }

          .ma__content__search .ma__content-search .ma__button-search {
            display: inline-block;
            position: static;
            -webkit-transition: opacity .4s;
            transition: opacity .4s;
            vertical-align: middle;
          }
        }

        @media (min-width: 621px) {
          .ma__content__search .ma__content-search .ma__button-search {
            display: none;
          }
        }
        table.gsc-search-box {
          margin: 0;
        }
        form.gsc-search-box .gsc-search-box tr {
          background-color: #F6F6F2;
          border: none;
        }
        table.gsc-search-box tbody td {
          border: none;
        }
        table.gsc-search-box td.gsc-input {
          padding: 0;
        }
        table.gsc-search-box input.gsc-input {
          font-size: 16px;
          font-size: 1rem;
          height: 46px;
          padding-right: 128px;
          padding-left: 17px;
          width: 100%;
          border: 2px solid #dcdcdc;
        }
        table.gsc-search-box input.gsc-input[style] {
          background: none !important;
          background-color: #fff !important;
        }
        table.gsc-search-box td.gsc-input {
          padding: 0;
        }
        table.gsc-search-box td.gsc-search-button {
          padding: 0;
          /*width: 15% !important;*/
        }
        input.gsc-search-button {
            display: block;
            height: 46px;
            position: absolute;
            right: 0;
            top: 0;
            font-weight: 700;
            font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
            background-color: white;
            border-radius: 0 !important;
            color: #43956f;
            border: 2px solid #dcdcdc;
            font-size: 12px;
            font-size: 0.75rem;
            letter-spacing: .05em;
            padding: 13px 14px 14px;
            text-transform: uppercase;
            -webkit-transition: background-color .4s, color .4s, border .4s, fill .4s;
            transition: background-color .4s, color .4s, border .4s, fill .4s;
            white-space: nowrap;
            cursor: pointer;
        }
        input.gsc-search-button:hover {
            background-color: #43956f;
            border-color: #43956f;
            color: white;
        }
        .gsc-clear-button {
          display: none;
        }

        /* mobile nav search form styles */
        @media (max-width: 620px) {
          .ma__content__nav-search .ma__content-search input.gsc-search-button {
            padding-right: 12px;
          }

          .ma__content__nav-search .ma__content-search table.gsc-search-box input.gsc-input {
            padding-right: 45px;
            padding-left: 10px;
          }
        }

        /* augmented search styles from .ma__header__search, copied from mayflower index-generated.css */

        /* block container class */
        .ma__content__search {
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          padding-top: 100px;
          padding-top: 3em;
          width: 100%; }
          /*@media (min-width: 621px) {
            .ma__content__search {
              width: 66.12903%; } } */
          @media (min-width: 1100px) {
            .ma__content__search {
              padding-top: 200px;
              padding-top: 6em; } }

        /* block content section class */
        .ma__content-search {
          display: inline-block;
          max-width: 1000px;
          position: relative;
          width: calc(100% - 100px); }
          .ma__content-search__label {
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0; }
          .ma__content-search__input {
            font-size: 16px;
            font-size: 1rem;
            height: 46px;
            padding-right: 128px;
            padding-left: 17px;
            width: 100%; }
            @media (max-width: 620px) {
              .ma__content__search .ma__content-search__input {
                display: none; } }
            @media (max-width: 700px) {
              .ma__content-search__input {
                padding-right: 17px; } }
          .ma__content-search .ma__button-search {
            display: block;
            height: 46px;
            padding-top: 0;
            padding-bottom: 0;
            position: absolute;
            right: 0;
            top: 0; }
            .ma__content__nav-search .ma__content-search .ma__button-search {
              border: none;
              border-left: 2px solid; }
            @media (max-width: 620px) {
              .ma__content__search .ma__content-search .ma__button-search {
                display: inline-block;
                position: static;
                -webkit-transition: opacity .4s;
                transition: opacity .4s;
                vertical-align: middle; }
                .ma__content__search .ma__content-search .ma__button-search:before {
                  content: "";
                  display: inline-block;
                  height: 100%;
                  margin-right: -1px;
                  vertical-align: middle;
                  width: 1px; }
                .show-menu .ma__content__search .ma__content-search .ma__button-search {
                  opacity: 0; } }
            @media (min-width: 621px) and (max-width: 700px) {
              .ma__content__search .ma__content-search .ma__button-search span {
                display: none; } }

        /* reduce vertical spacing above linked list container for search results */
        .ma__link-list {
          @media (max-width: 620px) {
            padding-top: 20px;
          }
        }

        /* autocomplete promotions styles */
        /* autocomplete entry table > row structure
          <tr class="">
            <td class="gssb_a " dir="ltr" style="text-align: left;">
                <div>
                    <table cellspacing="0" cellpadding="0" class="gsc-completion-promotion-table" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td valign="top" class="gscsep_a"></td>
                                <td valign="top">
                                    <div class="gsc-completion-title">Labor &amp; employment</div>
                                    <div class="gsc-completion-snippet"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr> */

        /* specificity necessary because we are overriding */

        /* autocomplete entries */
        .gsq_a span {
          color: #535353;
          font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
        }

        /* autocomplete promotion container table */
        .gsc-completion-container .gsc-completion-promotion-table {

        }

        /* autocomplete promotion link */
        .gsc-completion-title {
          color: #14558f;
          font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
          font-weight: 700;
        }

        /* autocomplete promotion description */
        .gsc-completion-snippet {
          display: none;
        }

        /* autocomplete hover style, class applied to parent <tr> */
        .gsc-completion-selected {
            background: #dcdcdc;
        }


        /*--><!]]>*/
      </style>
    </div>
    {% endblock %}
  </section>
</div><!-- .ma__content__search -->
